/* #nav{
   

  } */
 #nav> ul > li{
    float: left;
    list-style: none;
    margin: 10px 10px;
  }
  li>a{
    text-decoration: none;
    padding: 4px 4px;
    
    color: black;
    font-size: 13px;
   font-family:Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif; 
  }
  #nav>:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #ul2{
   margin-left:780px;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 700px;
  }
  #ul2>li >a{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    size: 11px;
    font-style: normal;
    font-weight: 900px;
   color:gray;
  
  }
  .red{
    color: red;
  }
  .imgs{
    width: 350px;
    margin-left: 490px;
    padding-top: 45px;
    padding-bottom: 20px;
  }
  #nav2{
    background-color: brown;

  }
  ul > li{
    float: left;
    list-style: none;
    margin: 4px 4px;
  }
  li>a{
    text-decoration: none;
    padding: 1px 1px;
    color:grey;
    font-size: 14px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 700px;
   font-style: normal;
   
  }
  
  #divmain > div{
    width:90%;
    border: solid red 2px solid;
    align-items: center;
    margin-left: 35px;

  }
  #divmain > div >a >img{
    width: 105% ;
  }
  #divmain{
    width: auto;
    padding-top: 30px;
    gap: 30px;
    display: grid;
    
  }
  hr{
    
    color: grey;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-style: normal;
  }
  #div2{
    width:94%;
    height: 250px;
    margin-left: 35px;
    list-style: none;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;  }
  #div2>a >h2{
    font-size: 34px;
    font-weight: normal;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    float: left;
    margin-left: 530px;
    color:black;
  }
  #div2>a >h3{
    font-family: Fupxtura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    float: left;
    margin-left: 550px;
    color:black;
    
  }
  #div2>a>p{
    font-size: 15px;
    text-decoration: none;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    float: left;
    margin-left:480px;
    color:black;
  }
  #div2>a>button{
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 14px;
    margin-left: 560px;
    border: none;
    background-color: #000000;
    color: white;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
  }
  #div3{
    display: flex;
    width: 94%;
    height: 150px;
    margin-left: 35px;
    
  }
  #div3>div>a{
    text-decoration: none;
  }
  #div3>div{
    width:50%;
    height:100;
    
    text-align:center;
  }
  #div3>div>a>h2{
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    color:black;
    font-size:34px;
    font-weight: normal;
    padding-bottom: 25px;
  }
  #div3>div>a>h3{
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    color:black;
    font-size:16px;
    font-weight: normal;
  }
  .af>a{
    text-decoration: none;
  }
  #div6>div>a{
    text-decoration: none;
  }
 
#div4{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 94%;
  height: 900px;
  margin-left: 35px;
  gap: 25px;
}

#div4>div{
   width: 100%;
   height: 100%;
   gap: 20px;
}
#div4 :last-child>div{
  width: 100%;
  height: 45%;
box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
margin-right: 20px;
}
.bnt{
  align-items: center;
  margin-left: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: black;  
}
.p{
text-align: center;
color: black;
font-size: 16px;
font-weight: normal;
font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}
.h1{text-align: center;
  font-weight: normal;
  font-size: 34px;
  color: black;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}
#div5{
  width: 94%;
  height: 100px;
  margin-left: 35px;
  display: flex;
  

}
#div6{
  width: 94%;
  margin-left: 35px;
  height: 200px;
  padding-top: 15px;
  display: flex;
}
#div6>div{
  width: 50%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
#div6>div>a>p{
  color: black;
  font-size: 16px;
  font-weight: normal;
  font-family:  Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;

}
#div6>div>a>h2{
  color: black;
  font-family:  Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  font-size: 34px;
  font-weight: normal;
}
#div7{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 94%;
  height: 900px;
  margin-left: 35px;
  gap: 25px;
}
#div7>div{
  width: 100%;
   height: 100%;
   gap: 20px;
 }
#div7 :first-child>div{
  width: 70%;
  height: 45%;  
}
.pt{
  color: black;
  text-align: center;
  margin-left: 170px;
  font-size: 16px;
  font-weight: normal;
  font-family:  Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;

}
.ht{
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  margin-left: 150px;
  font-weight: normal;
  font-family:  Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;

}
.br{
  color: white;
  
  background-color: black;
  margin-left: 250px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}



#div8{
  width: 94%;
  height: 120px;
  margin-left: 35px;
}
#div9{
  width: 94%;
  height: 150px;
 
}
#div9>a>p{
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-weight: normal;
  color: black;
  float: left;
  margin-left: 600px;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}
#div9>a>h2{
  text-align: center;
  font-size: 34px;
  font-weight: normal;
  color: black;
  float: left;
  margin-left: 350px;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}
#div10{
   width: 94%;
   margin-left: 65px;
   height: 250px;
   display: flex;
   gap: 15px;
}
#div10>div{
  width: 22%;
  height: 100%;
  gap: 10px;
  margin-left: 10px;
}
.a{
  width: 100%;
}
.b{
  width: 100%;
}
.c{
  width: 100%;
}
.d{
  width: 100%;
}
#div10>div>a>p{
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  float: left;
  margin-left: 60px;
  color: black;
  font-weight: normal;
  list-style: none;
}
#div11{
  width: auto;
  height: 40px;
  padding-top: 20px;
}
.but{
  margin-left: 500px;
  border: none;
  background-color: #000000;
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding-top: 5px;
}
#div12{
  padding-top: 20px;
  margin-left: 100px;
  cursor: pointer;
}

#bottomLast{
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  margin: auto;
  width: 90%;
}

dd{
margin-top: 10px;

}
#nav2 {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid grey;
}

#nav>div:first-child {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  color: #818d9d;
  font-size: 13px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 2.5%;
}

#nav2>div p:hover {
  color: #000000;
}


#nav2>div:last-child {
  padding-right: 2.5%;
}






.line-2 {
  border-top: 1px solid grey;
  margin-top: 0px;
}



#body>div:first-child {
  width: 20%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10px;
}

#logo {
  width: 100%;
}

.blink {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: sticky;
  top: 51px;
  background-color: white;
}

.blink>span {
  font-size: 15px;
  animation: blink 2s linear infinite;
  color: red;
}

@keyframes blink {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0.5;
  }

  100% {
      opacity: 1;
  }
}

/* #miniNav>div:nth-child(1) {
  width: 30%;
  margin: auto;
}

#miniNav>div:nth-child(2) {
  width: 15%;
  margin: auto;

} */

.searchbar form {
  transform: translate(0%, -50%);
  transition: all 1s;
  width: 40px;
  height: 37px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #666666;
  margin-bottom: -50%;

}

.searchbar>form input {
  width: 100%;
  height: 31px;
  line-height: 20px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 0 20px;
  color: #666666;
}

.searchbar form:hover {
  width: 300px;
  cursor: pointer;
}

.searchbar form:hover input {
  display: block;
}

.searchbar input::placeholder {
  color: #242424;
}

.searchbar>form:hover #search-icon {
  color: white;
}

#search-icon {
  box-sizing: border-box;
  padding: 8px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0%;
  text-align: center;
  font-size: 1rem;
  transition: all 1s;

}
  #divsf>h2{
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  line-height: 44px;
}
#divsf>div{
  width: 100%;
  height: 100%;
  
}
#divsf>div>div>a>img{
  width: 150px;
  margin-left: 560px;
}
#das{
  width: 94%;
  margin-left: 35px;
 
  height: 100px;
  display: flex;
}
#das>div>p{
 text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  color: gray;
  text-decoration: none;
 
}
.img2{
  width: 110px;
  margin-left: 10px;
}
.tt{
  margin-left: 900px;
}
#das>div>div>p{
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  color: gray;
  text-decoration: none;
 
}

.popo{
  width: 80px;
  margin-left: 20px;
}

#details{
  width: 94%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
#details>p:first-child p:nth-child(3){
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  font-weight: 15px;
}
.para{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
#details>p:first-child{
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
#FooterDetails {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
}

#FooterDetails>div {
  margin: auto;
  margin-top: 0%;
}

#FooterDetails>div p {
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #818d9d;
}

#FooterDetails>div:first-child p+p {
  margin-left: 0px;
  color: rgb(17, 21, 21);
}

#FooterDetails>div:first-child p+p+p {
  margin-left: 16px;
  color: #818d9d;
}

#FooterDetails>div:first-child p+p+p+p {
  margin-left: 0px;
  color: rgb(17, 21, 21);
}

#FooterDetails>div:first-child p+p+p+p+p {
  margin-left: 16px;
  color: #818d9d;
}

#FooterDetails>div:first-child p+p+p+p+p+p {
  margin-left: 0px;
  color: rgb(17, 21, 21);
}

#FooterDetails>div:first-child p+p+p+p+p+p+p {
  margin-left: 16px;
  color: #818d9d;
}


#FooterDetails>div:last-child {
  width: 25%;
}

#FatherLogo {
  width: 80%;
  display: flex;
  gap: 10px;
  font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: gray;
  font-size: 15px;
}

#FatherLogo>div {
  width: 100%;
  color: gray;
}

#LoGo {
  width: 100%;
  margin: 5px;
}

#FooterDetails>div:last-child input {
  /* padding-top: 10px;
  padding-bottom: 5px; */
  padding: 7px 20px 7px 20px;
}

#LoGo:hover {
  background-color: #c1c0c0;
}

#FooterDetails>div:last-child label {
  padding: 11px 17px 11px 17px;
  background-color: #c3c3c3;
  font-size: 12px;
}
#FooterDetails>div:last-child label:hover {
background-color: #666666;
}

#FooterDetails>div:last-child label+p {
  color: rgb(17, 21, 21);
}

#FooterDetails>div:last-child label+p+p+p {
  color: rgb(17, 21, 21);
}

#LastFooter {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
}

#LastFooter>div {

  width: 300px;
  display: flex;
  justify-content: space-between;
}

#LastFooter>div a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  margin-top: 18px;
}


#LastFooter>div img {
  width: 50%;
  /* border: 1px solid rgb(9, 3, 3); */
  margin-top: 16px;
}

#img {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

#img p {
  width: 130%;
  font-size: 19px;
  /* border: 1px solid rgb(143, 158, 85); */
}

#LastFooter>div:nth-child(2) {
  margin-top: 18px;
}

#imgg1 {
  width: 100px;
}


#imgg1>p {
  width: 40%;
  margin-left: 20px;
  font-size: 17px;
}

#im {
  width: 30%;
  height: 50%;
}

#imgg2 {
  width: 100%;
}